In [1]:
import pandas, copy, numpy,sys
from gumpy.genome import Genome
pandas.set_option('display.max_columns', 999)
%load_ext autoreload
%autoreload 2
numpy.set_printoptions(threshold=sys.maxsize)

In [2]:
pandas.__version__

'0.25.1'

In [51]:

TEST_CASE_DIR = "tests/test-cases/"

In [60]:
reference=Genome(genbank_file="config/NC_004148.2.gbk",name="HMPV")

In [61]:
sample_01=copy.deepcopy(reference)
sample_01.apply_vcf_file(vcf_file=TEST_CASE_DIR+"01.vcf",ignore_status=True,ignore_filter=True,metadata_fields=['GT_CONF','GT_CONF_PERCENTILE'])

In [62]:
sample_01.list_variants_wrt(reference)

['4687t>c', '4725t>c', '13333c>z', '13335t>a', '4730_indel', '4735_indel']

In [63]:
df=sample_01.table_variants_wrt(reference)

In [64]:
df

,VARIANT,REF,ALT,GENOME_INDEX,GENE,ELEMENT_TYPE,MUTATION_TYPE,POSITION,NUCLEOTIDE_NUMBER,AMINO_ACID_NUMBER,ASSOCIATED_WITH_GENE,IN_PROMOTER,IN_CDS,IS_SNP,IS_INDEL,IS_HET,IS_NULL,INDEL_LENGTH,INDEL_1,INDEL_2,COVERAGE,HET_VARIANT_0,HET_VARIANT_1,HET_COVERAGE_0,HET_COVERAGE_1,HET_INDEL_LENGTH_0,HET_INDEL_LENGTH_1,HET_REF,HET_ALT_0,HET_ALT_1
0,t4687c,t,c,4687,M2,GENE,SNP,-37,-37,NaN,True,True,False,True,False,False,False,NaN,None,None,68,,,NaN,NaN,NaN,NaN,,,
1,t4725c,t,c,4725,M2,GENE,SNP,1,2,1,True,False,True,True,False,False,False,NaN,None,None,68,,,NaN,NaN,NaN,NaN,,,
2,c13333z,c,z,13333,,,SNP,NaN,NaN,NaN,True,False,False,True,False,True,False,NaN,None,None,119,a,g,68,51,NaN,NaN,t,a,g
3,t13335a,t,a,13335,,,SNP,NaN,NaN,NaN,True,False,False,True,False,False,False,NaN,None,None,68,,,NaN,NaN,NaN,NaN,,,
4,4730_indel,cg,g,4730,M2,GENE,INDEL,7,7,3,True,False,True,False,True,False,False,-1,4730_del,4730_del_1,68,,,NaN,NaN,NaN,NaN,,,
5,4735_indel,g,gcc,4735,M2,GENE,INDEL,12,12,4,True,False,True,False,True,False,False,2,4735_ins,4735_ins_2,68,,,NaN,NaN,NaN,NaN,,,

In [50]:
df=df.astype({'POSITION':'Int64'})
df=df.replace({'POSITION':0},numpy.nan)
df

,VARIANT,REF,ALT,GENOME_INDEX,GENE,ELEMENT_TYPE,MUTATION_TYPE,POSITION,NUCLEOTIDE_NUMBER,AMINO_ACID_NUMBER,ASSOCIATED_WITH_GENE,IN_PROMOTER,IN_CDS,IS_SNP,IS_INDEL,IS_HET,IS_NULL,INDEL_LENGTH,INDEL_1,INDEL_2,COVERAGE,HET_VARIANT_0,HET_VARIANT_1,HET_COVERAGE_0,HET_COVERAGE_1,HET_INDEL_LENGTH_0,HET_INDEL_LENGTH_1,HET_REF,HET_ALT_0,HET_ALT_1
0,t4687c,t,c,4687,M2,GENE,SNP,-37,-37,0,True,True,False,True,False,False,False,0,None,None,68,,,0,0,0,0,,,
1,t4725c,t,c,4725,M2,GENE,SNP,1,2,1,True,False,True,True,False,False,False,0,None,None,68,,,0,0,0,0,,,
2,c13333z,c,z,13333,,,SNP,NaN,0,0,True,False,False,True,False,True,False,0,None,None,119,a,g,68,51,0,0,t,a,g
3,t13335a,t,a,13335,,,SNP,NaN,0,0,True,False,False,True,False,False,False,0,None,None,68,,,0,0,0,0,,,
4,4730_indel,cg,g,4730,M2,GENE,INDEL,7,7,3,True,False,True,False,True,False,False,-1,4730_del,4730_del_1,68,,,0,0,0,0,,,
5,4735_indel,g,gcc,4735,M2,GENE,INDEL,12,12,4,True,False,True,False,True,False,False,2,4735_ins,4735_ins_2,68,,,0,0,0,0,,,

In [65]:
m2_ref=reference.genes['M2']
m2_sam=sample_01.genes['M2']

In [68]:
m2_ref.amino_acid_numbering.dtype

dtype('int64')

In [69]:
m2_sam.table_mutations_wrt(m2_ref)

,GENE,MUTATION,REF,ALT,POSITION,AMINO_ACID_NUMBER,GENOME_INDEX,NUCLEOTIDE_NUMBER,IS_SNP,IS_INDEL,IN_CDS,IN_PROMOTER,ELEMENT_TYPE,MUTATION_TYPE,INDEL_LENGTH,INDEL_1,INDEL_2
0,M2,M1T,atg,acg,1,1,0,NaN,True,False,True,False,GENE,AAM,NaN,None,None
1,M2,t-37c,t,c,-37,NaN,4687,-37,True,False,False,True,GENE,SNP,NaN,None,None
2,M2,7_indel,None,None,7,3,4730,7,False,True,True,False,GENE,INDEL,-1,7_del,7_del_1
3,M2,12_indel,None,None,12,4,4735,12,False,True,True,False,GENE,INDEL,2,12_ins,12_ins_2

In [ ]:
m2_sam.list_mutations_wrt(m2_ref)

In [ ]:
m2_sam.index